<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>20F71</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>DocumentIconLegacy</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Diagrams Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.diagrams.Diagrams.diagram</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Diagrams.Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Diagrams</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>app.diagrams.DiagramsMac.mas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>Diagrams</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>20101006</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E262</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>20E214</string>
	<key>DTSDKName</key>
	<string>macosx11.3</string>
	<key>DTXcode</key>
	<string>1250</string>
	<key>DTXcodeBuild</key>
	<string>12E262</string>
	<key>DiagramsVersionCodename</key>
	<string>Panda</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.2</string>
	<key>MDItemKeywords</key>
	<string>diagram,flowchart,flow,chart,process,mindmap,mind,map,plan,model,business,brainstorm,visualize,UML</string>
	<key>NSAccentColorName</key>
	<string>GlobalAccentColor</string>
	<key>NSHumanReadableCopyright</key>
	<string>NSHumanReadableCopyright</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.app.diagrams.Diagrams</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Diagrams</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>document.uti.diagrams.description</string>
			<key>UTTypeIconFile</key>
			<string>DocumentIconLegacy</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>DocumentIconFill</string>
				<key>UTTypeIconBadgeName</key>
				<string>DocumentIconImage</string>
				<key>UTTypeIconText</key>
				<string>Diagrams</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>app.diagrams.Diagrams.diagram</string>
			<key>UTTypeReferenceURL</key>
			<string>http://diagrams.app</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>diagrams</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
